@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --background-color: #f5f5f5;
    --background-form: #ffffff;
    --secondary-color: #7755FF;
    --text: #403f3f;
    --text-button: #f5f5f5;
    --success: #08e5a6;
    --sucess-border: #027567;
    --warning: #d74646;
    --warning-input: #fcc2c2;
    --warning-border: #952323;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 3rem;
    margin-top: 1rem;
    background-color: var(--background-form);
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,.2);
    width: 50rem;
    height: 90%;
}

.container-header {
    margin: 0 0 2rem 0;
    display: flex;
    flex-direction: column;
}

.container-header span {
    width: 200px;
    height: 4px;
    border-radius: 4px;
    background-color: #7755FF;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.input {
    position: relative;
    color: var(--text);
    width: 80%;
    height: 2rem;
    margin: .6rem;
}

.container input {
    width: 100%;
    height: 100%;
    color: var(--text);
    padding: 1rem .8rem;
}


.container label {
    font-size: .8rem;
    padding: 1px;
    padding-bottom: 0;
    background-color: var(--background-form);
    position: absolute;
    top: -.7rem;
    left: 3px;
}

.container input:hover{
    border-color: var(--secondary-color);
}

.container input:focus-within {
    outline-color: var(--secondary-color);
    box-shadow: 0 0 0 0;
}

.container form .btn_submit {
    width: 200px;
    height: 3rem;
    margin: 1rem;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--text-button);
    font-size: 1rem;
    border: none;
}

.container form .btn_submit:active {
    scale: 98%;
    transition: .2s;
}

.message {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    justify-content: space-around;
    width: 400px;
    height: 50px;
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
    background-color: var(--success);
    color: var(--text-button);
    border-left: 4px solid var(--sucess-border);
    border-radius: 4px;
}

.message button {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 1rem;
}

.warning {
    background-color: var(--warning);
    border-color: var(--warning-border);
    height: 70px;
}

.validation {
    display: none;
    position: absolute;
    background-color: var(--background-form);
    color: var(--warning);
    right: 0;
    bottom: -1rem;
    font-size: .8rem;
}

.container .error {
    outline-color: var(--warning);
}

.container .error:focus-within {
    outline-color: var(--warning);
}

.show {
    display: flex;
}

.confirm-box {
    position: relative;
    text-align: center;
    padding: 1.5rem .5rem .5rem .5rem;
    width: 23rem;
    height: 10rem;
    background: var(--background-color);
    margin: auto auto;
    font-size: 1.4rem;
    border: none;
}

.btn-box {
    display: flex;
    justify-content: space-evenly;
}

.close-box {
    font-size: .8rem;
    position: absolute;
    right: .2rem;
    top: .2rem;
}

.close-box .close {
    border: none;
    font-size: 1rem;
}

.cpf {
    background-color: var(--success);
    color: var(--background-form);
    padding: 2px;
    border-radius: 5px;
}

.valido {
    background-color: var(--success);
    color: var(--background-form);
    border-color: var(--success);
    outline-color: var(--success);
    padding: 0 2px;
    border-radius: 2px;
}


.invalido {
    background-color: var(--warning);
    color: var(--text-button);
    border-color: var(--warning);
    outline-color: var(--warning);
    padding: 0 2px;
    border-radius: 2px;
}

input.invalido {
    background-color: var(--warning-input);
}



dialog .btn-box .btn {
    width: 6rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 5px;
    background-color: var(--success);
    color: var(--text-button);
    font-size: 1rem;
    border: none;
}

dialog .btn-box .no {
    background-color: var(--warning);
}

dialog .btn-box .btn:active {
    scale: .96;
}

@media (max-width: 800px){
    .container {
        width: 100%;
        height: 100%;
        padding: 1rem;
        margin: 1rem 0;
        box-shadow: 0 0 0 0;
    }
    
    .container-header {
        margin: 0 0 1rem 0;
        margin-bottom: 3rem;
    }

    .input {
        width: 90%;
    }

    .confirm-box {
        width: 60%;
        height: 10rem;
    }

    dialog .btn-box .btn {
        width: 4rem;
        height: 2rem;
    }

    .message {
        margin: .2rem;
        width: 300px;
    }

}
